.topnav {
	position: fixed;
	top: 0;
	height: 2.5rem;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 100%;
	color: #fff;
	background: #888;
	z-index: 3;
}

.topnav-con {
	display: flex;
	align-items: center;
	padding: 0 15px 0 5px;
}

.topnav-rightcon {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.topnav-accountnamecon a {
	color: #fff;
	text-decoration: none;
}

.topnav-accountnamecon a:hover {
	border-bottom: 2px solid #fff !important;
}

.topnav-searchcon {
	display: flex;
	align-items: center;
}

.topnav-searchcon .fa-search {
	margin: 0 0 0 -1.5rem;
	padding: 0 .5rem 0 0;
	color: #ccc;
}

/* side nav */
.sidenav {
	position: fixed;
	height: 100%;
	width: 3rem;
	background: #f1f1f1;
	overflow: hidden;
	z-index: 2;
	-webkit-transition: width .3s;
	-webkit-transform: width .3s;
	transition: width .3s;
}

.sidenavShow {
	width: 17rem;
	box-shadow: 3px 0px 5px 1px #ccc;
}

.sidenav .fa-bars {
	position: absolute;
	padding: 1rem .75rem;
	top: 2.5rem;
	font-size: 26px;
	color: #888;
	cursor: pointer;
}

.sidenav-con {
	position: absolute;
	left: 3rem;
	width: 70%;
}

.sidenav-top {
	top: 6rem;
}

.sidenav-bottom {
	bottom: 1rem;
}