* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	color: #2c2c2c;
}

a {
	font-size: 14px;
	font-weight: 500;
	color: #000;
	margin: 10px 0;
	cursor: pointer;
	text-decoration: underline;
	display: block;
}

ul {
	list-style: none;
}

b {
	font-weight: 600;
}

input,
textarea {
	width: 100%;
    outline: none;
    height: 2rem;
    border-radius: 5px;
	box-sizing: border-box;
    padding: 0 0 0 8px;
	box-sizing: border-box;
    border: 2px solid #cecece;
}

input:hover,
textarea:hover {
	border: 2px solid #2b2b2b;
}

input[type='submit'] {
	padding: 0;
	border: none;
}

input[type='submit']:hover {
	border: none;
}

input[type="radio"] {
	padding: 0rem 0rem;
	height: 1.4rem;
	max-width: 6%;
	margin-right: 0;
	vertical-align: middle;
	float: left;
	display: block;
}

label { 
	margin: .5rem 0 1.5rem 0;
	max-width: 94%;
	font-size: 12px;
	vertical-align: middle;
}

textarea {
	height: auto;
}

h1 {
	font-family: 'Quicksand', sans-serif;
	font-weight: 700;
}

h2 {
	font-size: 16px;
	font-weight: 600;
}

h3 {
	font-size: 20px;
    font-weight: 600;
    margin: 0 0 20px 0;
    padding: 0 0 5px 0;
    display: inline-block;
    border-bottom: 2px solid #888;
}

h4 {
	font-size: 16px;
    font-weight: 600;
}

h5 {
	font-size: 14px;
	font-weight: 500;
}

h6 {
    font-size: 11px;
    font-weight: 500;
	color: #26627A;
}

p {
	font-size: 14px;
    line-height: 22px;
}

.btn {
	color: #fff;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	background: #26627A;
	border-radius: 5px;
	width: auto;
	min-width: 8rem;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	cursor: pointer;
	box-sizing: border-box;
	padding: 0 10px;
}
.btn:hover {
	opacity: .8;
}

/* landing page / sign up / login */
.landing-page {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	padding: 4rem 1.5rem;
}
.landing-page h4 {
	font-size: 13px;
	font-weight: 500;
}
.landing-page h5 {
	font-size: 16px;
	font-weight: 600;
}
.landing-page h6 {
	color: #2c2c2c;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0;
	margin: 5px 0 2px 0;
}
.landing-page a {
	color: #2c2c2c;
	text-decoration: underline;
}
.landing-page .btn {
	display: inline-block;
}
.atria-logo img {
	width: 80%;
}
.signup-cont .atria-logo img {
	width: 10rem;
	margin: 0 0 20px 0;
}
.btns-signin {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
}
.stay-signed-in-cont {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px 0 0 0;
}
.stay-signed-in-cont input {
	width: auto;
	height: auto;
}
.forgot-pass-link {
	text-align: right;
}
.stay-signed-in-cont h6 {
	text-decoration: underline;
	margin: 0 0 0 2px;
}
.btn-create-account {
	margin: 10px 0;
    display: block;
}

/* sign in & sign up pages */
.btn-signin-cont {text-align: center;margin: 1rem 0 0 0;}
.btn-signup-cont {text-align: center;margin: 2rem 0 1rem 0;}

.signin-cont,
.signup-cont {
	width: 100%;
    max-width: 24rem;
	display: inline-block;
	margin: 2rem 0;
}
.btns-signin-cont,
.btns-signup-cont {
	text-align: left;
	margin: 0 0 10px 0;
}
.btn-signin-vol,
.btn-signin-org {
	width: 49%;
}
.signin-dropdown-vol,
.signin-dropdown-org {
	display: none;
}
.signin-dropdown,
.signup-dropdown {
	background: #eee;
	padding: 10px;
	border-radius: 5px;
	box-sizing: border-box;
}
.signin-dropdown-inner,
.signup-dropdown-inner {
	background: #fff;
	padding: 15px;
	border-radius: 5px;
	text-align: left;
}
.signin-dropdown-inner h5,
.signup-dropdown-inner h5{
	margin: .5rem 0 1.5rem 0;
}
.signin-input-cont,
.signup-input-cont {
	margin: .5rem 0 0 0;
	padding: 0 1rem;
}

/* profile */
.profile {
	padding: 4rem 2rem 1rem 5rem;
}
.profile-name-cont {
	width: 100%;
	display: flex;
    justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
    background: #fff;
	box-sizing: border-box;
    border: 10px solid #EEE;
	border-radius: 5px;
}
.profile-name-cont h2 {
	margin: 10px;
}
.profile-btn-cont {
	display: flex;
    justify-content: space-between;
	width: 265px;
	min-width: 265px;
	margin: 10px;
}
.profile-btn-cont .btn .fas {
	margin: 0 10px 0 0;
}
.profile-bottom-cont {
    width: 100%;
    display: flex;
}
.profile-tab-cont {
	min-width: 270px;
    flex-grow: 1;
    background: #eee;
    box-sizing: border-box;
    padding: 20px;
    margin: 10px 0 10px 10px;
    border-radius: 5px;
}

.profile-nav a {
	width: 180px;
	min-width: 180px;
    display: flex;
	justify-content: space-between;
	align-items: center;
    color: #000;
	font-weight: 700;
	background: #f1f1f1;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
	text-decoration: none;
    line-height: 22px;
}
.profile-nav .fa-plus {
	margin: 0 0 0 10px;
	color: #888;
}
.profile-nav a:hover,
.profile-nav a:hover + .profile-nav .fa-plus,
.active-profile-nav a,
.active-profile-nav .fa-plus {
	color: #26627A;
}
.profile-search-input {
	margin-bottom: 1rem;
	display: flex;
	float: right;
}
.profile-search-input > input {
	width: 180px;
    min-width: 180px;
}
.btn-search-input {
	width: 3rem !important;
    min-width: 3rem !important;
    margin: 0 0 0 5px;
    border: 2px solid #26627A;
}

/* items inside profile */
.profile-item-cont {
	display: flex;
}
.profile-item {
	background: #fff;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 5px;
}
.profile-item a {
	text-decoration: underline;
}

/* forms */
.profile-page {
	width: 100%;
    background: #eee;
	box-sizing: border-box;
    padding: 20px;
	border-radius: 5px;
}

.profile-page input {
	margin: 0 0 10px 0;
}

.profile-page h6 {
	color: #2c2c2c;
	font-size: 12px;
	font-weight: 600;
	letter-spacing: 0;
	margin: 5px 0 2px 0;
}

.profile-page .btn {
	margin: 20px 0 10px 0;
}

.profile-page-content {
	background: #fff;
	box-sizing: border-box;
	padding: 15px;
	border-radius: 5px;
}


@media only screen and (max-width: 600px) {
	.landing-page {
		padding: 3rem 1rem 1rem 4rem;
	}
	h3 {
		margin: 15px 0 20px 0;
	}
	.profile {
    	padding: 3rem 1rem 1rem 4rem;
	}
	.profile-btn-cont {
		flex-wrap: wrap;
		min-width: auto;
	}
	.profile-btn-cont .btn {
		margin: 5px 0;
	}
	.profile-bottom-cont {
		flex-wrap: wrap;
	}
	.profile-search-input {
		float: none;
	}
	.profile-search-input > input {
		width: 100%;
	}
	.profile-nav {
		display: flex;
    	flex-wrap: wrap;
		justify-content: space-between;
	}
	.profile-nav-btn {
		width: 100%;
    	margin: 5px 0 0 0;
	}
	.profile-nav a {
		width: 100%;
		min-width: auto;
		margin: 0;
	}
	.profile-tab-cont {
		margin: 5px 0 0 0;
	}

}