{% extends 'base_nav.html' %}

{% load i18n %}
{% load static %}

{% block main_content %}
<div class='profile'>
	<div class='profile-page'>
		<h3>{% trans "Poll for Messages" %}</h3>
		<div class='profile-page-content'>
        	<form action="{% url 'check_messages' %}" method="POST">
              {% csrf_token %}
              {% for field in form %}
                  <h6>{{ field.label_tag }}</h6>
                  {{ field }}
                  {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                  {% endfor %}
              {% endfor %}
              <button class='btn' type="submit">Submit</button>
            </form>
        </div>
	</div>
</div>
{% endblock %}