{% extends 'base_nav.html' %}

{% load i18n %}

{% block page_title %} {% trans "Form Response" %} {% endblock %}

{% block main_content %} 
	<div class='profile'>
		<div class='profile-page'>
			<h3>{{ msg }}</h3>
			<div class='profile-page-content'>
				  <div>
					<h5>{{ msg_txt }}</h5>
				  </div>
				  <div>
					<h5>{{ msg_txt2 }}</h5>
				  </div>
				  <div>
					<img src="../invitation/{{ msg_txt2 }}"/>
				  </div>
				  <div>
					<h5>{{ msg_txt3 }}</h5>
				  </div>
			</div>
		</div>
	</div>
{% endblock %}